<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/mustache.js"></script>
		<script src="/js/menu.js"></script>
	</head>
	<body>
		<div class="container panel">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
          </div>

          <div class="input-group"
            style="margin-top: 10px; margin-left: auto; margin-right: auto; max-width: 600px;">
              <input class="form-control" type="text"
                      placeholder="{{search_title}}" autofocus>
              <span class="input-group-btn">
                  <button class="btn btn-danger" onclick="search()">
                      <span
                          class="glyphicon glyphicon-search">
                      </span>
                  </button>
              </span>
          </div>

        </div>
      </nav>

      <div class="sub-panel-nav">
        <div class="row">
          <div class="col-xs-{{right.size}} text-center">
            {{{right.title}}}
          </div>
          <div class="col-xs-{{left.size}} text-center">
            {{{left.title}}}
          </div>
        </div>
      </div>

      <div class="list-group">
        {{#items}}
          <a id="link_{{id}}" class="list-group-item" href="#">
            <div class="row">
              <div class="col-xs-{{right.size}} {{right.class}}">
                {{{right.content}}}
                {{#right.notifications}}
                  <span class="badge pull-right"
                    style="background-color: #F77">{{right.notifications}}</span>
                {{/right.notifications}}
              </div>
              <div class="col-xs-{{left.size}} {{left.class}}">
                {{{left.content}}}
                {{#left.notifications}}
                  <span class="badge pull-right"
                    style="background-color: #F77">{{left.notifications}}</span>
                {{/left.notifications}}
              </div>
            </div>
          </a>
        {{/items}}
      </div>

		</div>
	</body>
</html>
